:root {
    --main-color: Gold;
    --main-color-alt: Gold;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: black;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    background: url(../Services/images/background.jpg);
    background-repeat: repeat;
}


/* header and footer*/

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: auto;
    padding: 0vw;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: 5%;
}

.main-nav {
    float: right;
    display: inline;
    z-index: 1;
    font-size: 2rem;
}

.header {
    background-color: black;
    position: relative;
}

.header .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    color: white;
    right: 5%;
}

.header .main-nav {
    display: flex;
    color: #fafafa;
    right: 10%;
}

.header .main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: white;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
}

.header .main-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

.header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: black;
}

.header .main-nav>li>a:hover::before {
    left: 0;
}

footer {
    position: relative;
    float: right;
    background-color: rgb(0, 0, 0);
    width: 100%;
    bottom: 0px;
    left: 0;
    z-index: 5;
}

footer i {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    padding: 16px;
    float: right;
    padding-right: 40px;
    transition: color 1s, background-color 1s;
}

footer a {
    color: #ffffff;
}

footer p {
    color: white;
    padding-left: 50px;
}

footer a i:hover {
    background-color: gold;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}


/* Start Portfolio */

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle li {
    padding: 10px;
}

.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .imgs-container .box {
    overflow: hidden;
    position: relative;
}

.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}

.portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

@media (min-width: 768px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}

.portfolio .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
}

.portfolio .imgs-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}

.portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}

.portfolio .imgs-container .box .caption p {
    color: var(--main-color);
}

.portfolio .more {
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
}

.main-title {
    top: 20%;
    text-transform: uppercase;
    margin: 5rem auto 80px;
    border: 2px solid gold;
    padding: 10px 20px;
    font-size: 30px;
    width: max-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
    color: gold;
}